<html>
  <head></head>
  <body>
    <select name="foo">
      [% FOREACH bar IN bar_loop %]
        [% IF bar.selected | html_line_break %]
        <option>bar</option>
      [% END %]
    </select>
  </body>
</html>
